.characterCard {
  @apply flex flex-col justify-center;
  &:hover {
    @apply scale-105 transform animate-neonGlow cursor-pointer transition-colors
  }

  .cardContainer {
    @apply relative flex h-full cursor-pointer flex-row rounded-lg bg-gray-200 shadow-lg;
    width: 550px;

    .status {
      @apply relative;
      img {
        @apply h-fit w-full
      }

      .statusAlive {
        @apply absolute right-0 top-0 rounded-b-sm bg-green-600 p-1.5 text-center font-bold text-white shadow-md;
        height: 27px;
        width: 63px;
        font-size: 10px;
      }

      .statusDead {
        @apply absolute right-0 top-0 rounded-b-sm bg-red-500 p-1.5 text-center font-bold text-white shadow-md;
        height: 27px;
        width: 63px;
        font-size: 10px;
      }

      .statusUnknown {
        @apply absolute right-0 top-0 rounded-b-sm bg-white p-1.5 text-center font-bold text-black shadow-md;
        height: 27px;
        width: 63px;
        font-size: 10px;
      }
    }
  }
}

.cardContent {
  @apply flex flex-col justify-evenly gap-y-3.5 p-6;
  h2 {
    @apply text-black;
    font-size: 23px;
  }

  p {
    @apply text-black;
    font-size: 19px;
  }
}

.buttons {
  @apply mt-5 inline-block  rounded bg-green-500 px-6 py-2.5 text-sm font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-green-600 hover:shadow-lg focus:bg-green-600 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-green-700 active:shadow-lg;
  width: 150px;
}

.buttonWrap {
  @apply w-full h-full mt-20
}

@media (max-width: 1208px) {
  .characterCard {

    .cardContainer {
      width: 400px;
    }

    .cardContent {
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 15px;
      }
    }
  }


}

.status {
  img {
    @apply p-0 m-0;
    height: 200px;
  }
}

.buttons {
  width: 140px;
}

.buttonWrap {
  @apply mt-6
}


@media (max-width: 840px) {
  .characterCard {
    .cardContainer {
      @apply min-h-fit;
      width: 350px;

    }

    .cardContent {
      h2 {
        font-size: 15px;
      }

      p {
        font-size: 10px;
      }
    }

    .buttonWrap {
      @apply mt-0 min-h-fit;
    }

    .buttons {
      @apply p-1;
      width: 120px;
      font-size: 12px;
    }

  }
}


@media (max-width: 787px) {
  .characterCard {
    .cardContainer {
      width: 300px;
    }
  }
  .buttons {
    @apply mt-0 p-0;
    font-size: 10px;
  }
}

@media (max-width: 580px) {
  .characterCard {
    .cardContainer {
      @apply relative flex h-fit ;
      width: 400px;

      .status {
        img {
          @apply h-fit w-full
        }
      }
    }

    .cardContent {
      @apply flex flex-col justify-evenly gap-y-3.5 p-5;
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 13px;
      }
    }

    .buttonWrap {
      margin-top: 40px;
    }

    .buttons {
      font-size: 18px;
    }

  }

}


@media (max-width: 488px) {
  .characterCard {
    .cardContainer {
      @apply relative flex h-fit;
      width: 300px;

      .status {
        img {
          @apply w-full;
          height: 183px;
        }
      }
    }

    .cardContent {
      @apply flex flex-col justify-evenly gap-y-3.5 p-5;
      h2 {
        font-size: 18px;
      }

      p {
        font-size: 12px ;
      }
    }

    .buttonWrap {
      margin-top: 40px;
    }

    .buttons {
      font-size: 18px;
    }

  }

}