.cardHero {
  @apply flex flex-col justify-center ;
  &:hover {
    @apply scale-105 transform  animate-neonGlow rounded-2xl cursor-pointer transition-colors;
  }
}

.heroContainer {
  @apply relative flex h-fit w-auto cursor-pointer flex-col rounded-lg bg-slate-400 shadow-lg md:max-w-xl md:flex-row ;
  .statusHero {
    @apply relative;
    img {
      @apply p-1 h-full w-full rounded-t-lg object-cover md:h-full md:w-56 md:rounded-none md:rounded-l-lg;
    }

    .heroAlive {
      @apply absolute right-1 top-1  rounded-b-sm bg-green-600 opacity-90 p-2 text-center font-bold text-white shadow-md;
      height: 30px;
      width: 85px;
      font-size: 11px;
    }

    .heroDead {
      @apply absolute right-1 top-1 rounded-b-sm bg-red-500 opacity-90 p-2 text-center  font-bold text-white shadow-md;
      height: 30px;
      width: 85px;
      font-size: 11px;
    }

    .heroUnknown {
      @apply absolute right-1 top-1 rounded-b-sm bg-white opacity-90 p-2 text-center font-bold text-black shadow-md;
      height: 30px;
      width: 85px;
      font-size: 11px;
    }
  }
}

.heroContent {
  @apply flex flex-col justify-start gap-y-2.5 p-6;
  h2 {
    @apply text-2xl text-black font-semibold gap-y-2;
  }

  p {
    @apply text-black ;
    font-size: 15px;
  }

  @media (max-width: 1177px) {
    .heroContainer {
      width: 450px;

      .heroContent {
        h2 {
          @apply text-xl text-black font-semibold gap-y-2;
        }

        p {
          font-size: 15px;
        }
      }
    }

  }

  @media (max-width: 1033px) {
    .heroContainer {
      width: 450px;
      height: 250px;

      .statusHero {
        @apply relative;
        img {
          width: 220px;
          height: 250px;
        }

        .heroContent {
          @apply gap-1
        }

        h2 {
          font-size: 10px;
        }

        p {
          font-size: 9px;
        }
      }
    }
  }

  @media (max-width: 837px) {
    .heroContainer {
      width: 400px;
      height: 280px;

      .statusHero {
        @apply relative;
        img {
          width: 250px;
          height: 280px;
        }
      }

      .heroContent {
        @apply relative ;
        h2 {
          font-size: 15px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 765px) {
    .heroContainer {

      .statusHero {
        @apply absolute;
        img {
          width: 250px;
          height: 280px;
        }
      }

      .heroContent {
        @apply relative left-1/2 ml-2 gap-4;
        h2 {
          font-size: 14px;
        }

        p {
          font-size: 11px;
        }
      }
    }
  }

  @media (max-width: 637px) {
    .heroContainer {
      width: 400px;
      height: 180px;

      .statusHero {
        @apply absolute;
        img {
          width: 150px;
          height: 180px;
        }
      }
      .heroContent {
        @apply relative gap-1 m-0 w-fit;
      }
    }
  }

  @media (max-width: 500px) {
    .heroContainer {
      width: 310px;
      height: 180px;
      .statusHero {
        @apply absolute;
        img {
          width: 120px;
          height: 180px;
        }
      }

      .heroContent {
        @apply gap-1 w-fit left-1/3;
      }
    }
  }
}